@charset "utf-8";
*{margin:0; padding:0;}
ul{list-style:none;}
a{text-decoration:none; color:#3f3f3f;}

body{font-family: 'Nanum Gothic', sans-serif;
	font-size:15px;
	color:#3f3f3f;
	line-height:28px;
}






.m_room_box{width:100%;
		margin:0 auto;
		overflow:hidden;
	
	}

/*faq*/

.right{position:relative;
	width:100%;
	padding:10px 0;
	margin: 0 auto;
	overflow:hidden;
	border-radius:0 20px 20px 0;
	
	
	
}
.right ul li:nth-child(1){text-align:center;
	width:100%;
	margin: 0px auto;
	}
.right ul li:nth-child(2){width:100%;  margin: 0px auto;}









.right> li ul{width:100%;
	height:50px;
	padding:15px 0;
	margin: 0px auto;
	overflow:hidden;
}








.text_info{background:#ffffff;
			
			overflow:hidden;}







.right> li .text_info{padding:25px 0 30px 0; width: 100%;}
.right> li .text_info{width:100%;
 background-color: #ff0000;}
.notice_line{height:1px;
	text-align:center;
	width:100%;
	margin:0px auto;
	background:#bcbcbc;}
.notice_bg{height:781px}
.right .font_18{position:relative;
	height:50px;
	color:#333;
	font-size:20px;}

